nav{
    background-color: aqua;
}

nav{
    color: white;
    padding: 15px;
}
nav a{
    color: white;
}

header{
    height: 150px;
    position: relative;
}

header img{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: white;
    padding: 20px;
}

p{
    color: black;
}

footer{
    text-align: center;
    font-size: 0.7em;
    padding-top: 10px;
    padding-bottom: 5px;
}