body{
    background-color: aqua;
}

nav{
    color: white;
    padding: 15px;
}
nav a{
    color: white;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: white;
    padding: 20px;
}

p{
    color: black;
}